#thumbnails-container{
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* grid-template-columns: 1fr 1; */
}
.thumbnail{
    width: 280px;
    height: 240px;
}
.image-container{
    position: relative;
    max-width: 280px;
}
.image-container > img{
    width: 100%;
    height: 150px;
}
.video-duration{
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 12px;
}
/* video details container grid - css */
.thumbnail-top{
    display: flex;
}
.channel-profile-pic{
    width: 60px;
    height: 35px;
}
.video-title{
    font-size: 12px;
    font-weight: 600;
}
.video-side-menu{
    display: none;
}
.channel-name, .content-details{
    padding-left: 60px;
    color: #AAAAAA;
    font-size: 14px;
}
.channel-name > a{
    text-decoration: none;
    color: #AAAAAA;
}